*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-size: cover;
  background-attachment: fixed;
  font-family:  'Montserrat Bold 900', sans-serif;
}
body{
  margin: 40px;
  align-items: left;
  height: 100vh;
  background-image: url(Login_bg_img.jpg);
  background-size: cover;
  color: white;
}

input{
  display: block;
  width: 365px;
  height: 40px;
  margin: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid black;
  background: transparent;
}
button{
  width: 350px;
  height: 40px;
  font-size: 20px;
  background-color: red ;
  border: none;
  color: white;
  margin:30px;
}
form h1{
  margin-bottom: 30px;
}
::placeholder{
  color: white;
}
a:link, a:visited {
  background-color: green;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 40px;
}




/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  color: white;
  display: block;
  width: 365px;
  height: 40px;
  border: none;
  margin: 30px;
  background-color: transparent;
  font-size: 20px;
  min-width: 160px;
  border-bottom: 1px solid black;
  z-index: 1;
}

option{
  color: black;
}
/* Links inside the dropdown */
.dropdown-content a{
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.ab
{
  color: white;
}
.pq
{
  font-size: 20;
  margin-left: 27px;
}
